name: CalculadoraCI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17.0.2
      uses: actions/setup-java@v3
      with:
        java-version: '17.0.2'
        distribution: 'temurin'
        cache: maven
    - name: Test with Maven
      run: | 
        cd Calculadora
        mvn clean test
